.main {
    position: relative;
}

.main__line {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 0.15%;
    background-color: red;
}

.main__block {
    position: relative;
    padding: 2%;
}

.main__left {
    display: inline;
    position: absolute;
    font-size: 1.2vw;
    width: 70%;
}

.main--dark {
    font-weight: bold;
}

.main--light {
    font-weight: 100;
}

.main__circle {
    position: absolute;
    content: '';
    height: 40%;
    width: 1.75%;
    background-color: green;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main__right {
    display: inline;
    position: absolute;
    font-weight: bold;
    font-size: 1.2vw;
    padding-left: 10%;
    left: 45%;
    top: 40%;
}

